ALTER TABLE restaurants ADD COLUMN numero_coperti INTEGER, ADD COLUMN telefono TEXT, ADD COLUMN indirizzo TEXT, ADD COLUMN citta TEXT, ADD COLUMN provincia TEXT, ADD COLUMN cap TEXT, ADD COLUMN paese TEXT;
